{% extends 'base.html.twig' %}

{% block title %}Edit PropertyOption{% endblock %}

{% block body %}
    <h1>Edit PropertyOption</h1>

    {{ include('admin/option/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin.property.option.index') }}">back to list</a>

    {{ include('admin/option/_delete_form.html.twig') }}
{% endblock %}
